@import "tailwindcss";


/* Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Track background */
}

::-webkit-scrollbar-thumb {
    background: #555;
    /* Thumb background */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #929292;
    /* Thumb hover background */
}

@theme {
    --color-bg-primary: #212121;
    --color-bg-secondary: #303030;
    --color-bg-tertiary: #414141;
    --color-bg-scrim: #0d0d0d80;
    --color-bg-elevated-primary: #303030;
    --color-bg-elevated-secondary: #181818;
    --color-bg-status-warning: #4a2206;
    --color-bg-status-error: #4d100e;

    --color-border-default: #ffffff26;
    --color-border-heavy: #fff3;
    --color-border-light: #ffffff0d;
    --color-border-status-warning: #4a2206;
    --color-border-status-error: #4d100e;

    --color-text-primary: #ffffff;
    --color-text-secondary: #f3f3f3;
    --color-text-tertiary: #afafaf;
    --color-text-inverted: #0d0d0d;
    --color-text-inverted-static: #ffffff;
    --color-text-accent: #66b5ff;
    --color-text-status-warning: #ff9e6c;
    --color-text-status-error: #ff8583;

    --color-icon-primary: #e8e8e8;
    --color-icon-secondary: #cdcdcd;
    --color-icon-tertiary: #afafaf;
    --color-icon-inverted: #0d0d0d;
    --color-icon-inverted-static: #ffffff;
    --color-icon-accent: #66b5ff;
    --color-icon-status-warning: #ff9e6c;
    --color-icon-status-error: #ff8583;

    --color-interactive-bg-primary-default: #ffffff;
    --color-interactive-bg-primary-hover: #ffffffcc;
    --color-interactive-bg-primary-press: #ffffffe5;
    --color-interactive-bg-primary-inactive: #ffffff;
    --color-interactive-bg-primary-selected: #ffffff;

    --color-interactive-bg-secondary-default: #ffffff00;
    --color-interactive-bg-secondary-hover: #ffffff1a;
    --color-interactive-bg-secondary-press: #ffffff0d;
    --color-interactive-bg-secondary-inactive: #ffffff00;
    --color-interactive-bg-secondary-selected: #ffffff1a;

    --color-interactive-bg-tertiary-default: #212121;
    --color-interactive-bg-tertiary-hover: #181818;
    --color-interactive-bg-tertiary-press: #0d0d0d;
    --color-interactive-bg-tertiary-inactive: #212121;
    --color-interactive-bg-tertiary-selected: #212121;

    --color-interactive-bg-accent-default: #013566;
    --color-interactive-bg-accent-hover: #003f7a;
    --color-interactive-bg-accent-press: #004f99;
    --color-interactive-bg-accent-inactive: #013566;

    --color-interactive-bg-danger-primary-default: #e02e2a;
    --color-interactive-bg-danger-primary-hover: #fa423e;
    --color-interactive-bg-danger-primary-press: #ba2623;
    --color-interactive-bg-danger-primary-inactive: #e02e2a;

    --color-interactive-bg-danger-secondary-default: #ffffff00;
    --color-interactive-bg-danger-secondary-hover: #ffffff00;
    --color-interactive-bg-danger-secondary-press: #ffffff00;
    --color-interactive-bg-danger-secondary-inactive: #ffffff00;

    --color-interactive-border-focus: #ffffff;
    --color-interactive-border-secondary-default: #ffffff26;
    --color-interactive-border-secondary-hover: #ffffff26;
    --color-interactive-border-secondary-press: #ffffff33;
    --color-interactive-border-secondary-inactive: #ffffff1a;

    --color-interactive-border-tertiary-default: #ffffff1a;
    --color-interactive-border-tertiary-hover: #ffffff26;
    --color-interactive-border-tertiary-press: #ffffff1a;
    --color-interactive-border-tertiary-inactive: #ffffff1a;

    --color-interactive-border-danger-secondary-default: #fa423e;
    --color-interactive-border-danger-secondary-hover: #ff6764;
    --color-interactive-border-danger-secondary-press: #e02e2a;
    --color-interactive-border-danger-secondary-inactive: #fa423e;

    --color-interactive-label-primary-default: #0d0d0d;
    --color-interactive-label-primary-hover: #0d0d0d;
    --color-interactive-label-primary-press: #0d0d0d;
    --color-interactive-label-primary-inactive: #0d0d0d;
    --color-interactive-label-primary-selected: #0d0d0d;

    --color-interactive-label-secondary-default: #f3f3f3;
    --color-interactive-label-secondary-hover: #ffffffe5;
    --color-interactive-label-secondary-press: #ffffffcc;
    --color-interactive-label-secondary-inactive: #f3f3f3;
    --color-interactive-label-secondary-selected: #f3f3f3;

    --color-interactive-label-tertiary-default: #cdcdcd;
    --color-interactive-label-tertiary-hover: #cdcdcd;
    --color-interactive-label-tertiary-press: #cdcdcd;
    --color-interactive-label-tertiary-inactive: #cdcdcd;
    --color-interactive-label-tertiary-selected: #cdcdcd;

    --color-interactive-label-accent-default: #99ceff;
    --color-interactive-label-accent-hover: #99ceff;
    --color-interactive-label-accent-press: #99ceff;
    --color-interactive-label-accent-inactive: #99ceff;
    --color-interactive-label-accent-selected: #99ceff;

    --color-interactive-label-danger-primary-default: #ffffff;
    --color-interactive-label-danger-primary-hover: #ffffff;
    --color-interactive-label-danger-primary-press: #ffffff;
    --color-interactive-label-danger-primary-inactive: #ffffff;

    --color-interactive-label-danger-secondary-default: #fa423e;
    --color-interactive-label-danger-secondary-hover: #ff6764;
    --color-interactive-label-danger-secondary-press: #e02e2a;
    --color-interactive-label-danger-secondary-inactive: #fa423e;

    --color-interactive-icon-primary-default: #0d0d0d;
    --color-interactive-icon-primary-hover: #0d0d0d;
    --color-interactive-icon-primary-press: #0d0d0d;
    --color-interactive-icon-primary-selected: #0d0d0d;
    --color-interactive-icon-primary-inactive: #0d0d0d;

    --color-interactive-icon-secondary-default: #f3f3f3;
    --color-interactive-icon-secondary-hover: #ffffffe5;
    --color-interactive-icon-secondary-press: #ffffffcc;
    --color-interactive-icon-secondary-selected: #f3f3f3;
    --color-interactive-icon-secondary-inactive: #f3f3f3;

    --color-interactive-icon-tertiary-default: #cdcdcd;
    --color-interactive-icon-tertiary-hover: #cdcdcd;
    --color-interactive-icon-tertiary-press: #cdcdcd;
    --color-interactive-icon-tertiary-selected: #cdcdcd;
    --color-interactive-icon-tertiary-inactive: #cdcdcd;

    --color-interactive-icon-accent-default: #99ceff;
    --color-interactive-icon-accent-hover: #99ceff;
    --color-interactive-icon-accent-press: #99ceff;
    --color-interactive-icon-accent-selected: #99ceff;
    --color-interactive-icon-accent-inactive: #99ceff;

    --color-interactive-icon-danger-primary-default: #ffffff;
    --color-interactive-icon-danger-primary-hover: #ffffff;
    --color-interactive-icon-danger-primary-press: #ffffff;
    --color-interactive-icon-danger-primary-inactive: #ffffff;

    --color-interactive-icon-danger-secondary-default: #fa423e;
    --color-interactive-icon-danger-secondary-hover: #ff6764;
    --color-interactive-icon-danger-secondary-press: #e02e2a;
    --color-interactive-icon-danger-secondary-inactive: #fa423e;

    --color-utility-scrollbar: #ffffff33;
}
